p, ol, ul{
    color:white;
}
h1, h2, h3 {
    color:	#ffbf00;
}
h4{
    color: #36BFBF;
}
table, th, tr, td, main {
    border: 1px solid white;
    color: white;
}
span{
    font-weight: bold;
    color:	#5888A6;
}
span.xiao, nav{
    color:#9780A6
}
p.dialogo{
    font-weight: bold;
}
body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d5004956-c7d5-44dc-b1c3-080cf8827715/de76jpa-47da39af-1e2e-47f5-bdc0-6c8974f2d27d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q1MDA0OTU2LWM3ZDUtNDRkYy1iMWMzLTA4MGNmODgyNzcxNVwvZGU3NmpwYS00N2RhMzlhZi0xZTJlLTQ3ZjUtYmRjMC02Yzg5NzRmMmQyN2QuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Zfppk-l5A51MybO_aIw0708kdA4zAHbwOYblfQh25hk");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: cover;
    background-color:#17374b;
     }


